<?php
/**
 * DbiOrderSuccess Success.
 *
 * PHP version 7.2.X
 *
 * @category  PHP
 * @package   Born_DbiOrderSuccess
 * @author    Borngroup <support@borngroup.com>
 * @copyright 2019 Copyright BORN Commerce Pvt Ltd, https://www.borngroup.com/
 * @license   https://www.borngroup.com/ Borngroup
 * @link      https://www.davidsbridal.com/
 */

?>
<div class="dbi-order-success">
    <?php
    $viewModel = $block->getData('viewModel');
    $OrderId = $viewModel->getOrderId();
    $OrderIncrementID =  $viewModel->getOrder()->getIncrementId();
    $Printurl = $viewModel->getPrint($OrderId);
    ?>
    <div class="success-order-id">Your Order Number is <a href="<?php echo $Printurl ;?>" target="_blank"> <?php  echo $OrderIncrementID  ; ?> </a></div>

    <span class="tracking-info-successpage">You should receve one order confirmation with
        details and tracking info in the few minutes.
</span>
    <div class="print-receipt"><a href="<?php echo $Printurl; ?>" target="_blank">PRINT RECEIPT</a> </div>
</div>
