<?php

/** @var \Born\DatahubOrders\ViewModel\adminhtml\order\view\TransactionUuid|boolean $viewModel */
$viewModel = $block->getData('viewModel');
$order = $viewModel->getOrder();
$RequestId = $order->getOrdermailRequestId();

?>
<tr>
    <th><?= $block->escapeHtml(__('DataHub Order Mail Request Id')) ?></th>
    <td><?= $block->escapeHtml($order->getOrdermailRequestId()) ?></td>
</tr>