<?php

/** @var \Born\DatahubOrders\ViewModel\adminhtml\order\view\TransactionUuid|boolean $viewModel */
$viewModel = $block->getData('viewModel');
$order = $viewModel->getOrder();
$transactionUuid = $order->getTransactionUuid();

?>
<tr>
    <th><?= $block->escapeHtml(__('DataHub Order Uuid')) ?></th>
    <td><?= $block->escapeHtml($order->getTransactionUuid()) ?></td>
</tr>