<?php
/**
 * Born_CategoryFacets
 *
 * PHP version 5.x-7.x
 *
 * @category  PHP
 * @package   Born\CategoryFacets
 * @author    Born Support <support@borngroup.com>
 * @copyright 2019 Copyright BORN Commerce Pvt Ltd, https://www.borngroup.com/
 * @license   https://www.borngroup.com/ Private
 * @link      https://www.davidsbridal.com/
 */

/** @var $block \Born\CategoryFacets\Block\Adminhtml\CategoryFacets\Tabs $block */
?>
<input type="hidden" value="" name="jsonFacetsResponse" id="jsonFacetsResponse">

<?= $block->getGridHtml() ?>
<div class="attribute-option-popup"></div>
<script type="text/javascript">
    require(['jquery', 'facets'], function($,  facets){
        facets.categoryId         = "<?= /* @escapeNotVerified */ $block->getCategory()->getId() ?>";
        facets.saveDataAjaxUrl    = "<?= /* @escapeNotVerified */ $block->getSaveDataAjaxUrl() ?>";
        facets.gridAjaxUrl        = "<?= /* @escapeNotVerified */ $block->getAjaxUrl() ?>";
        facets.atrributeIdAjaxUrl = "<?= /* @escapeNotVerified */ $block->getAtrributeIdAjaxUrl() ?>";
        facets.optionGridUrl      = "<?= /* @escapeNotVerified */ $block->getOptionGridUrl() ?>";
        facets.saveOptionGridUrl  = "<?= /* @escapeNotVerified */ $block->getSaveOptionGridUrl() ?>";

        $(document).ready(function () {
            if ($('select[name=category_attribute_set] > option').length > 0) {
                    facets.applyFacetGrid();
                $('select[name=category_attribute_set]').change(function () {
                    facets.applyFacetGrid();
                });
            }
            facets.getFacetsAttributesId();
            /** incrementer /decrimenter */
            $('body').on("click", ".positionBtn", function () {
                var positionValue = 0;
                positionValue = $(this).parent().find('input').val();
                if ($(this).hasClass('backward')) {
                    if(positionValue === "0"){
                        return false;
                    }
                    positionValue--;
                }
                if ($(this).hasClass('forward')) {
                    positionValue++;
                }
                if (positionValue >= 0) {
                    $(this).parent().find('input').val(positionValue)
                }
                facets.saveRowData($(this), positionValue);
            });
            /** update manual position **/
            $('body').on("change", "input[name=facets_position]", function () {
                let positionValue = $(this).val();
                facets.saveRowData($(this), positionValue);
            });
            /** update is Active **/
            $('body').on("change", ".row_action", function () {
                let positionValue = $.trim($(this).parent().parent().parent().find('.input-text').val());
                facets.saveRowData($(this), positionValue);
            });
            /** option grid model popup **/
            $('body').on("click", ".option-grid", function () {
                let attribute_id = $.trim($(this).attr('data-attribute-id'));
                facets.showOptionGrid($(this), attribute_id);
            });
            /** option grid save visibility **/
            $('body').on("change", ".opt_row_action", function () {
                let facets_value_id = $.trim($(this).attr('data-value-id'));
                facets.saveOptionGrid($(this), facets_value_id);
            });
            /** update manual option position **/
            $('body').on("change", "input[name=option_position]", function () {
                let facets_value_id =  $.trim($(this).next().attr('data-value-id'));
                facets.saveOptionGrid($(this), facets_value_id);
            });
            /** incrementer /decrimenter for Option grid*/
            $('body').on("click", ".optPositionBtn", function () {
                var positionValue = 0;
                positionValue = $(this).parent().find('input').val();
                if ($(this).hasClass('backward')) {
                    if(positionValue === "0"){
                        return false;
                    }
                    positionValue--;
                }
                if ($(this).hasClass('forward')) {
                    positionValue++;
                }
                if (positionValue >= 0) {
                    $(this).parent().find('input').val(positionValue)
                }
                let facets_value_id = $.trim($(this).attr('data-value-id'));
                facets.saveOptionGrid($(this), facets_value_id);
            });
        });
    });
</script>
