<?php
/**
 * Copyright © 2018 CyberSource. All rights reserved.
 * See accompanying LICENSE.txt for applicable terms of use and license.
 */

?>
<?php
/**
 * Multishipping checkout billing information
 *
 * @var $block \CyberSource\SecureAcceptance\Block\Checkout\Billing
 */

    $vaults = $block->getCustomerTokens();
    $address = $this->getAddress();
?>
<form action="<?php /* @escapeNotVerified */ echo $block->getPostActionUrl() ?>" method="post" id="multishipping-billing-form" class="form multicheckout billing">
    <div class="block block-billing">
        <div class="block-content">
            <div class="box box-billing-address">
                <strong class="box-title">
                    <span><?php /* @escapeNotVerified */ echo __('Billing Address') ?></span>
                    <a href="<?php /* @escapeNotVerified */ echo $block->getSelectAddressUrl() ?>" class="action"><span><?php /* @escapeNotVerified */ echo __('Change') ?></span></a>
                </strong>
                <div class="box-content">
                    <?php $_address = $block->getAddress() ?>
                    <address><?php /* @escapeNotVerified */ echo $_address->format('html') ?></address>
                </div>
            </div>
            <div class="box box-billing-method">
                <fieldset class="fieldset">
                    <legend class="legend box-title"><span><?php /* @escapeNotVerified */ echo __('Payment Method') ?></span></legend><br>
                    <div class="box-content">
                        <?php echo $block->getChildHtml('payment_methods_before') ?>
                        <?php /* Payment methods forms list */ ?>
                        <dl class="items methods-payment" id="payment-methods">
                            <?php
                            $_methods       = $block->getMethods();
                            $_methodsCount  = count($_methods);
                            ?>
                            <?php foreach ($_methods as $_method): $_code = $_method->getCode() ?>
                                <dt class="item-title">
                                    <?php if ($_methodsCount > 1): ?>
                                        <input type="radio" id="p_method_<?php /* @escapeNotVerified */ echo $_code ?>" value="<?php /* @escapeNotVerified */ echo $_code ?>" name="payment[method]" title="<?php echo $block->escapeHtml($_method->getTitle()) ?>" <?php if ($block->getSelectedMethodCode() == $_code): ?> checked="checked"<?php endif; ?> class="radio"/>
                                    <?php else : ?>
                                        <input type="radio" id="p_method_<?php /* @escapeNotVerified */ echo $_code ?>" value="<?php /* @escapeNotVerified */ echo $_code ?>" name="payment[method]" checked="checked" class="radio solo method"/>
                                    <?php endif; ?>
                                    <label for="p_method_<?php /* @escapeNotVerified */ echo $_code ?>"><?php echo $block->escapeHtml($_method->getTitle()) ?></label>
                                </dt>
                                <?php if ($_code === \CyberSource\SecureAcceptance\Model\Ui\ConfigProvider::CC_VAULT_CODE): ?>
                                    <select name="payment[token_public_hash]" id="chcybersource_tokens" style="display:none">
                                        <?php foreach ($vaults as $vault): ?>
                                            <option data-card_type="<?php echo $block->escapeHtmlAttr($vault['card_type']) ?>" value="<?php /* @escapeNotVerified */ echo $block->escapeHtmlAttr($vault['public_hash']) ?>"><?php echo "(" . $block->escapeHtml($vault['title']) . ") expires: " . $block->escapeHtml($vault['expiry_date']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                    <img style="margin-top: 5px;" id="cardTypeIcon" src="" width="46" height="30">
                                    <br />
                                    <div id="create_token_container" class="box-content" style="display:none">
                                        <a id="create-token" class="action continue" href="#"><span>Create new token</span></a>
                                    </div>
                                <?php endif; ?>
                                <?php if ($html = $block->getChildHtml('payment.method.' . $_code)) : ?>
                                    <dd class="item-content">
                                        <?php /* @escapeNotVerified */ echo $html; ?>
                                    </dd>
                                <?php endif; ?>
                            <?php endforeach; ?>
                        </dl>
                        <?php echo $block->getChildHtml('payment_methods_after') ?>
                        <?php echo $block->getChildHtml('checkout_billing_items') ?>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="actions-toolbar">
        <div class="primary">
            <button id="payment-continue" type="submit" class="action primary continue"><span><?php /* @escapeNotVerified */ echo __('Go to Review Your Order') ?></span></button>
        </div>
        <div class="secondary">
            <a href="<?php /* @escapeNotVerified */ echo $block->getBackUrl() ?>" class="action back"><span><?php /* @escapeNotVerified */ echo __('Back to Shipping Information') ?></span></a>
        </div>
    </div>
</form>

<script>
require(
    [
        'jquery',
        'mage/mage'
    ],
    function($) {

        var cardsTypeIcons = {
            vi : "<?php echo $this->getViewFileUrl('Magento_Payment/images/cc/vi.png') ?>",
            mc : "<?php echo $this->getViewFileUrl('Magento_Payment/images/cc/mc.png') ?>",
            ae : "<?php echo $this->getViewFileUrl('Magento_Payment/images/cc/ae.png') ?>",
            di : "<?php echo $this->getViewFileUrl('Magento_Payment/images/cc/di.png') ?>",
            jcb : "<?php echo $this->getViewFileUrl('Magento_Payment/images/cc/jcp.png') ?>",
            mi : "<?php echo $this->getViewFileUrl('Magento_Payment/images/cc/mi.png') ?>",
            dn : "<?php echo $this->getViewFileUrl('Magento_Payment/images/cc/dn.png') ?>"
        };

        $('#chcybersource_tokens').on('change', function() {
            var cardType = $('option:selected', this).attr('data-card_type');
            $("#cardTypeIcon").attr("src", cardsTypeIcons[cardType]);
        });

        if ($('input[value="chcybersource_cc_vault"]').is(":checked")) {
            $('#chcybersource_tokens').show();
            $('#create_token_container').show();
        }

        $('input[type="radio"]').bind('change',function(){
            var showOrHide = $(this).val() === "chcybersource_cc_vault";
            $('#chcybersource_tokens').toggle(showOrHide);
            $('#create_token_container').toggle(showOrHide);
        });

        var addtocartForm = $('#multishipping-billing-form');
        addtocartForm.mage('payment', {
            checkoutPrice: <?php echo (float)$block->getQuoteBaseGrandTotal(); ?>
        });
        addtocartForm.mage('validation', {
            errorPlacement: function(error, element) {
                if (element.attr('data-validate') && element.attr('data-validate').indexOf('validate-cc-ukss') >= 0) {
                     element.parents('form').find('[data-validation-msg="validate-cc-ukss"]').html(error);
                } else {
                     element.after(error);
                }
            }
        });
    });
</script>

    <div id="silent-form-placeholder"></div>
    <!-- Modal -->
    <div id="tokenModal" class="modal fade" style="display:none;" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div id="error_message"></div>
                    <form id="form-create-token">
                        <div class="field cc_type required">
                            <label class="label" for="cc_type"><span><?php /* @escapeNotVerified */ echo __('Card Type') ?></span></label>
                            <div class="control">
                                <select name="cc_type" id="cc_type">
                                    <?php foreach ($this->getCcTypes() as $ccType): ?>
                                        <option value="<?php echo $ccType['code']; ?>"><?php echo __($ccType['name']); ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="field cc_number required">
                            <label class="label" for="cc_number"><span><?php /* @escapeNotVerified */ echo __('Card Number') ?></span></label>
                            <div class="control">
                                <input type="text" name="cc_number" id="cc_number" data-validate="{'required-entry':true, 'validate-cc-number':true, 'validate-number':true}"/>
                            </div>
                        </div>
                        <div class="field cc_type required">
                            <label class="label" for="cc_exp_month"><span><?php /* @escapeNotVerified */ echo __('Card Expiry Month') ?></span></label>
                            <div class="control">
                                <select name="cc_type" id="cc_exp_month">
                                    <?php for ($i = 0; $i < 12; $i++): ?>
                                        <option value="<?php echo ($i < 9) ? '0' . ($i + 1) : ($i + 1); ?>"><?php echo ($i < 9) ? '0' . ($i + 1) : ($i + 1); ?></option>
                                    <?php endfor; ?>
                                </select>
                            </div>
                            <label class="label" for="cc_exp_year"><span><?php /* @escapeNotVerified */ echo __('Card Expiry Year') ?></span></label>
                            <div class="control">
                                <select name="cc_exp_year" id="cc_exp_year">
                                    <?php for ($i = 0; $i < 10; $i++): ?>
                                        <option value="<?php echo (date('Y') + $i); ?>"><?php echo (date('Y') + $i); ?></option>
                                    <?php endfor; ?>
                                </select>
                            </div>
                        </div>
                        <div class="field cvv required">
                            <label class="label" for="cvv"><span><?php /* @escapeNotVerified */ echo __('CVV') ?></span></label>
                            <div class="control">
                                <input type="text" name="cvv" id="cvv" data-validate="{'required-entry':true, 'validate-number':true}"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript">
        require(
            [
                'jquery',
                'Magento_Ui/js/modal/modal',
                'Magento_Checkout/js/model/full-screen-loader',
                'mage/validation',
            ],
            function (
                $,
                modal,
                fullScreenLoader
            ) {
                'use strict';
                var options = {
                    type: 'popup',
                    responsive: true,
                    innerScroll: true,
                    title: 'Create new token',
                    buttons: [{
                        text: $.mage.__('Close'),
                        class: '',
                        click: function () {
                            this.closeModal();
                        }
                    },{
                        text: $.mage.__('Continue'),
                        class: 'action primary',
                        click: function () {
                            if($("#form-create-token").validation() && $("#form-create-token").validation('isValid')) {
                                var me = this;
                                fullScreenLoader.startLoader();
                                $.ajax({
                                    url: "<?php echo $block->getCreateTokenUrl(); ?>",
                                    statusCode: {
                                        400: function () {
                                            $("#error_message").html("<span>Unable to create token.</span>")
                                        },
                                        500: function () {
                                            $("#error_message").html("<span>Unable to create token.</span>");
                                        }
                                    }, success: function (data) {
                                        me.closeModal();
                                        var silentForm = $('<form></form>')
                                            .attr('id', 'silent-form')
                                            .attr('action', data.action_url)
                                            .attr('method', 'POST');
                                        for (var field in data.form_data) {
                                            silentForm.append('<input type="hidden" name="' + field + '" value="' + data.form_data[field] + '" /><br />');
                                        }
                                        silentForm.append('<input type="hidden" name="card_number" value="' + $('#cc_number').val() + '" />');
                                        silentForm.append('<input type="hidden" name="card_expiry_date" value="' + $('#cc_exp_month').val() + '-' + $('#cc_exp_year').val() + '" />');
                                        silentForm.append('<input type="hidden" name="card_cvn" value="' + $('#cvv').val() + '" />');
                                        silentForm.append('<input type="hidden" name="card_type" value="' + $('#cc_type').val() + '" />');
                                        $('#silent-form-placeholder').append(silentForm);
                                        $('#silent-form').submit();
                                    }
                                });
                            }
                        }
                    }]
                };
                modal(options, $('#tokenModal'));
                $('#create-token').click(function (e) {
                    $('#tokenModal').modal('openModal');
                });
            }
        );

    </script>
    <script type="text/x-magento-init">
    {
        "#form-create-token": {
            "validation": {}
        }
    }
    </script>
