<?php
$viewModel = $block->getViewModel();
$newsletterData = $viewModel->getSelectedOptions();
if (!empty($newsletterData)) {
    ?>
    <div class="block block-dashboard-info">
        <div class="block-title" style="border-bottom: none; margin-bottom: 0;">
            <strong><?= $block->escapeHtml(__('Dbi Newsletter OptStatus')) ?></strong>
        </div>
        <div class="block-content">
            <div class="box box-information">
                <?php if (!empty($newsletterData)) {
                    ?>
                    <ul>
                        <?php
                        foreach ($newsletterData as $newsleter) {
                            ?>
                            <li><?= $newsleter->getCompanyName() . ' - ' . $newsleter->getCategory(); ?></li>
                            <?php
                        } ?>
                    </ul>
                    <a class="action edit" href="<?= $block->escapeUrl($block->getUrl('customer/newsletter/newsletter')) ?>">
                        <span><?= $block->escapeHtml(__('Edit')) ?></span>
                    </a>
                    <?php
                } ?>
            </div>
        </div>
    </div>
    <?php
} ?>