<?php
$viewModel = $block->getViewModel();
$newsletterData = $viewModel->getAllOptions();
$newsletterSelected = $viewModel->getSelectedOptions();
$arrSelected = [];

if (!empty($newsletterSelected)) {
    foreach ($newsletterSelected as $selectedOpt) {
        $arrSelected[] = $selectedOpt->getNewsletterId();
    }
}
?>
<div id="page-wrap">
    <form name="newsletterOpt" id="newsletterOpt" method="post" action="<?php echo $viewModel->getSaveUrl();?>">
        <div class="field choice">
            <input type="checkbox" name="optAll" id="optAll">
            <label for="optAll" class="checkbox"><span>All Topics</span></label>
        </div>
        <ul class="ul-child">
            <?php if (!empty($newsletterData)) {
                foreach ($newsletterData as $newsletter) {
                    $isCheckedAttr = '';
                    ?>
                    <li>
                        <div class="field choice">
                            <?php if (in_array($newsletter->getNewsletterId(), $arrSelected)) {
                                $isCheckedAttr = 'checked';
                            } ?>
                            <input type="checkbox" name="optin[]"
                                   class="checkSingle"
                                <?= $isCheckedAttr; ?>
                                   id="optin-<?= $newsletter->getNewsletterId(); ?>"
                                   value="<?= $newsletter->getNewsletterId(); ?>">

                            <label for="optin-<?= $newsletter->getNewsletterId(); ?>" class="custom-unchecked">
                                <span><?php echo $newsletter->getCompanyName() . '-' . $newsletter->getCategory(); ?>
                                </span>
                            </label>
                        </div>
                    </li>
                    <?php
                }
            } ?>
        </ul>
        <div class="field choice">
            <input type="checkbox" name="optOutAll" id="optOutAll">
            <label for="optOutAll" class="custom-unchecked"><span>Opt out of all communication</span></label>
        </div>
        <div class="primary">
            <button type="submit" class="action save primary" title="Save"><span>Save</span></button>
        </div>
    </form>
</div>

<script>
    require([
        'jquery'
    ], function ($) {
        $(document).ready(function () {
            $("#optAll").change(function () {
                if (this.checked) {
                    $(".checkSingle").each(function () {
                        this.checked = true;
                    });
                    $("#optOutAll").prop("checked", false);
                } else {
                    $(".checkSingle").each(function () {
                        this.checked = false;
                    })
                    $("#optOutAll").prop("checked", true);
                }
            });

            $(".checkSingle").click(function () {
                $("#optOutAll").prop("checked", false);
                if ($(this).is(":checked")) {
                    var isAllChecked = 0;
                    $(".checkSingle").each(function () {
                        if (!this.checked)
                            isAllChecked = 1;
                    })
                    if (isAllChecked == 0) {
                        $("#optAll").prop("checked", true);
                        $("#optOutAll").prop("checked", false);
                    }

                } else {
                    $("#optAll").prop("checked", false);
                }
                console.log($(this).is(":checked"))
            });

            $("#optOutAll").change(function () {
                if (this.checked) {
                    $(".checkSingle").each(function () {
                        this.checked = false;
                    });
                    $("#optAll").prop("checked", false);
                } else {
                    $(".checkSingle").each(function () {
                        this.checked = true;
                    })
                    $("#optAll").prop("checked", true);
                }
            })

            function selectAll(){
                var isAllChecked = 0;
                $(".checkSingle").each(function () {
                    if (!this.checked)
                        isAllChecked = 1;
                })

                if (isAllChecked == 0) {
                    $("#optAll").prop("checked", true);
                }
            }
            setTimeout(function(){
                selectAll()
            },500);
        });
    });
</script>