td.col-facets_position.col-number,
td.col-option_position.col-number {
    width: 110px !important;
}
td.col-facets_position > *,
td.col-option_position > * {
    margin-right: 5px;
    float: left;
}

td.col-facets_position a,
td.col-option_position a {
    color: #d9d9d9 !important;
    text-decoration: none !important;
}

td.col-facets_position .icon-forward, .icon-backward,
td.col-option_position .icon-forward, .icon-backward {
    font-family: "Admin Icons";
    -webkit-font-smoothing: antialiased;
    font-size: 17px;
    speak: none;
}
td.col-facets_position .icon-backward:before,
td.col-option_position .icon-backward:before {
    content: '\e619';
}

td.col-facets_position .icon-forward:before,
td.col-option_position .icon-forward:before {
    content: '\e618';
}

td.col-facets_position input,
td.col-option_position input {
    text-align: center;
    width: 40px;
}