<?php

use Magento\Vault\Model\Ui\TokenUiComponentProviderInterface;

/** @var \Magento\Framework\View\Element\Template $block */

$details = $block->getData(TokenUiComponentProviderInterface::COMPONENT_DETAILS);
$hash = $block->getData(TokenUiComponentProviderInterface::COMPONENT_PUBLIC_HASH);
$icon = $block->getData('icons')[$details['type']];
$code = $block->getData('code');
$id = $block->getData('id');

?>
<div data-mage-init='{
        "CyberSource_Core/js/vault": {
            "container": "payment_<?= /* @noEscape */ $id ?>",
            "publicHash": "<?= $hash ?>",
            "code": "<?= $code ?>"
        }
    }' id="payment_<?= /* @noEscape */ $id ?>" class="admin__field">

    <div class="admin__field-control control">
        <input class="required-entry" type="radio" id="token_switcher_<?= /* @noEscape */ $id ?>" name="payment[token_switcher]" disabled="disabled" />
        <label for="token_switcher_<?= /* @noEscape */ $id ?>">
            <img src="<?= $icon['url'] ?>"
                 width="<?= $icon['width'] ?>"
                 height="<?= $icon['height'] ?>"
                 class="payment-icon">
            <span><?= $block->escapeHtml($details['maskedCC'])  ?></span>
            (<span><?= $block->escapeHtml($details['expirationDate']) ?></span>)
        </label>
    </div>
</div>
