<!--
/**
 * Copyright © Born, Inc. All rights reserved.
 * See COPYING.txt for license details.
 * Born_CheckoutAgreements
 *
 * PHP version 5.x-7.x
 *
 * @category  HTML
 * @package   Born\CheckoutAgreements
 * @author    Born Support <support@borngroup.com>
 * @copyright 2019 Copyright BORN Commerce Pvt Ltd, https://www.borngroup.com/
 * @license   https://www.borngroup.com/ Private
 * @link      https://www.davidsbridal.com/
 */
-->
<div data-role="checkout-agreements">
    <div class="checkout-agreements fieldset" data-bind="visible: isVisible">
        <!-- ko foreach: agreements -->
        <!-- ko if: ($parent.isAgreementRequired($data)) -->
        <div class="checkout-agreement field choice required">
            <input type="checkbox" class="required-entry"
                   data-bind="attr: {
                                    'id': $parent.getCheckboxId($parentContext, agreementId),
                                    'name': 'agreement[' + agreementId + ']',
                                    'value': agreementId
                                    }"/>
            <label class="label" data-bind="attr: {'for': $parent.getCheckboxId($parentContext, agreementId)}">
                <span data-bind="html: checkboxText"></span>
            </label>
        </div>
        <!-- /ko -->
        <!-- ko ifnot: ($parent.isAgreementRequired($data)) -->
        <div class="checkout-agreement">
            <span data-bind="html: checkboxText"></span>
        </div>
        <!-- /ko -->
        <!-- /ko -->
    </div>
</div>
