<?php

use CyberSource\PayPal\Block\Customer\VaultTokenRenderer;
use Magento\Vault\Api\Data\PaymentTokenInterface;

/** @var VaultTokenRenderer $block */
$confirmDeleteMessage = sprintf(
    '%s %s (%s)?',
    __('Are you sure you want to delete this Billing Agreement'),
    ' started at ' . $block->getDate(),
    $block->getEmail()
);
?>
<tr>
    <td data-th="<?= $block->escapeHtml(__('Payment Gateway')) ?>" class="col">
        <span><?= _('PayPal Billing Agreement') ?></span>
    </td>
    <td data-th="<?= $block->escapeHtml(__('ID')) ?>" class="col">
        <span><?= $block->getMaskedId() ?></span>
    </td>
    <td data-th="<?= $block->escapeHtml(__('Payer Account')) ?>" class="col">
        <span><?= $block->getEmail() ?></span>
    </td>
    <td data-th="<?= $block->escapeHtml(__('Signed')) ?>" class="col">
        <span><?= $block->getDate() ?></span>
    </td>
    <td data-th="<?= $block->escapeHtml(__('Actions')) ?>" class="col actions">
        <form
            class="form"
            action="<?= $block->escapeUrl($block->getUrl('vault/cards/deleteaction')) ?>"
            method="post">
            <?= $block->getBlockHtml('formkey') ?>
            <input
                name="<?= /* @noEscape */ PaymentTokenInterface::PUBLIC_HASH ?>"
                value="<?= /* @noEscape */ $block->getToken()->getPublicHash() ?>"
                type="hidden"/>
            <button type="submit"
                    class="action delete"
                    data-mage-init='{
                        "Magento_Vault/js/customer_account/deleteWidget":{
                            "type": "popup",
                            "modalClass": "my-vault-tokens-popup",
                            "toggleEvent": "click",
                            "title": "<?= $block->escapeHtml(__('Delete')) ?>",
                            "content":"<?= $block->escapeHtml($confirmDeleteMessage) ?>"
                        }
                    }'>
                <span><?= $block->escapeHtml(__('Delete')) ?></span>
            </button>
        </form>
    </td>
</tr>
