<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: ifShowValue() && !ifShowDetails() -->
<tr class="totals-tax">
    <th data-bind="text: title" class="mark" scope="row"></th>
    <td data-bind="attr: {'data-th': title}" class="amount">
        <!-- ko if: isCalculated() -->
        <!-- ko if: (getValue() === '-$1.00') -->
        <span class="price">TBD</span>
        <!-- /ko -->
        <!-- ko ifnot: (getValue() === '-$1.00') -->
        <span class="price" data-bind="text : getValue()"></span>
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko ifnot: isCalculated() -->
        <!-- ko if: (getValue() === '-$1.00') -->
        <span class="not-calculated" >TBD</span>
        <!-- /ko -->
        <!-- ko ifnot: (getValue() === '-$1.00') -->
        <span class="not-calculated" data-bind="text: getValue()"></span>
        <!-- /ko -->
        <!-- /ko -->
    </td>
</tr>
<!-- /ko -->
<!-- ko if: ifShowValue() && ifShowDetails() -->
<tr class="totals-tax-summary"
    data-bind="mageInit: {'toggleAdvanced':{'selectorsToggleClass': 'shown', 'baseToggleClass': 'expanded', 'toggleContainers': '.totals-tax-details'}}">
    <th data-bind="text: title" class="mark" scope="row"></th>
    <td data-bind="attr: {'data-th': title }" class="amount">
        <!-- ko if: isCalculated() -->
        <!-- ko if: (getValue() === '-$1.00') -->
        <span class="price">TBD</span>
        <!-- /ko -->
        <!-- ko ifnot: (getValue() === '-$1.00') -->
        <span class="price" data-bind="text: getValue()"></span>
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko ifnot: isCalculated() -->
        <!-- ko if: (getValue() === '-$1.00') -->
        <span class="not-calculated">TBD</span>
        <!-- /ko -->
        <!-- ko ifnot: (getValue() === '-$1.00') -->
        <span class="not-calculated" data-bind="text: getValue()"></span>
        <!-- /ko -->
        <!-- /ko -->
    </td>
</tr>
<!-- ko foreach: getDetails() -->
<!-- ko foreach: rates -->
<tr class="totals-tax-details">
    <!-- ko if: percent -->
    <th class="mark" scope="row" data-bind="text: title + ' (' + percent + '%)'"></th>
    <!-- /ko -->
    <!-- ko if: !percent -->
    <th class="mark" scope="row" data-bind="text: title"></th>
    <!-- /ko -->
    <!-- // BEGIN EDIT - Retrieve tax values from extension attributes -->
    <td class="amount" rowspan="1">
        <!-- ko if: $parents[1].isCalculated() -->
        <!-- ko if: $data.extension_attributes -->
        <span class="price"
              data-bind="text: $parents[1].formatPrice(extension_attributes.tax), attr: {'data-th': title, 'rowspan': $parents[0].rates.length }"></span>
        <!-- /ko -->
        <!-- ko ifnot: $data.extension_attributes -->
        <span class="price"
              data-bind="text: $parents[1].formatPrice($parents[0].amount), attr: {'data-th': title, 'rowspan': $parents[0].rates.length }"></span>
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko ifnot: $parents[1].isCalculated() -->
        <!-- ko if: $data.extension_attributes -->
        <span class="not-calculated"
              data-bind="text: $parents[1].formatPrice(extension_attributes.tax), attr: {'data-th': title, 'rowspan': $parents[0].rates.length }"></span>
        <!-- /ko -->
        <!-- ko ifnot: $data.extension_attributes -->
        <span class="not-calculated"
              data-bind="text: $parents[1].formatPrice($parents[0].amount), attr: {'data-th': title, 'rowspan': $parents[0].rates.length }"></span>
        <!-- /ko -->
        <!-- /ko -->
    </td>
    <!-- // END EDIT -->
</tr>
<!-- /ko -->
<!-- /ko -->
<!-- /ko -->